*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}
body{background-color: rgb(9, 9, 9);}
header{
    display: flex;
    justify-content: space-between;
    
    background-color: rgb(43, 66, 66);
}

 .btn li a{
    font-size: 20px;
    font-weight: 500px;
    transition: 1s;
    color: azure;
 }

 .btn li a:hover {
    color: rgb(86, 139, 186);
 }
 .btn-sci a:hover{color: rgb(138, 236, 157);}
 .navbar{background-color: blueviolet;}

.img-sci{

    width: 32vw;
    height: 32vw;
    justify-content: center;
    
    border-radius: 50%;
    padding: 5px;
    display: block;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    
    
}
.active li a:hover{
    margin: 0 8px;
    display: inline-flex;
    padding: 8px ;
    border: 2px solid #7cf03d ;
    border-radius: 50% ;
    font-size: 20px;
    color: #7cf03d;
    transition: 0.5s ;
}
.active li a:hover{
    background-color: #7cf03d;
    color: #1f242d;
    box-shadow: 0 0 10px #7cf03d ;
}


ul{lst-style: none;}

    

#h1-section{
    background-color: bisque;
}
h1{padding: 16px;
border: 10px solid rebeccapurple;}
#p-section{background-color: rgb(193, 247, 144);}
footer{background-color: darkgrey;}
footer{text-align: center;}
section{background-color: rgb(136, 135, 104);}
html{font-size: 22px;}
html{font-family: Georgia, 'Times New Roman', Times, serif;}
body{background-color: rgb(122, 117, 117);}
#h5-section{text-align: right;}
#h5-section{background-color: beige;}
*{margin: 0%
    ;}
    .btn :hover{
        background-color: rgb(190, 228, 153);
        transition: .5s;
    }
    .sci :hover{
        background-color: chartreuse;
        transition: .5s;
        box-shadow: #1f242d;
    }
.btn-sci :hover{
background-color: blanchedalmond;
color: rgb(168, 168, 125);
box-shadow: 0 0 10px #3c3f3a;
transition: .5s;
}
    
    


